<div class="container">
  <div class="plants">
    <% @plants.each do |plant| %>
      <div class="plant">
        <%= cl_image_tag plant.photo.key, height: 200, width: 221%>
          <div class="name">
            <button type="button" class="btn btn-outline-secondary"><%= link_to plant.name, plant_path(plant) %></button>
            <p><%= plant.description %></p>
          </div>
        <div class="price">
          <%= plant.price %> €
        </div>
      </div>
    <% end %>
  </div>


  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 350px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
