<div class="container">
  <div class="plants">
    <% @plants.each do |plant| %>
      <div class="plant">
        <%= cl_image_tag plant.photo.key, height: 200, width: 200, crop: :fill %>
          <div class="name">
            <span class="mr-3"><%= link_to plant.name, plant_path(plant) %></span>
            <%= plant.price %> euro
          </div>
          <%= plant.description %>
      </div>
    <% end %>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
<<<<<<< HEAD

=======
>>>>>>> 287f5ff0f5ea622f8d68be015a8737b90a21ae41
</div>


