<h1>New Plant</h1>
<%= simple_form_for(@plant) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', plants_path, class: "btn btn-primary" %>
