<div class="container">
  <div class="row my-5">
    <div class="col-xs-12 col-md-6">
      <div class="plant-card">
        <%= cl_image_tag @plant.photo.key, height: 200, width: 200, crop: :fill %>
        <div class="card-infos">
          <div>
            <h2><%= @plant.name.capitalize %></h2>
            <p><%= @plant.description %></p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
        <div class="plant-card">
          <h4>Book This Plant</h4>
            <%= simple_form_for([@plant, @booking]) do |f| %>
              <%= f.input :date, label: @booking.date %>
              <%= f.button :submit, class: "btn btn-success" %>
            <% end %>
          <br>
          <%= link_to "Back", plants_path, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
