
<h2><strong>Name</strong></h2>
<%= @plant.name %>
<h5><strong>Description</strong></h5>
<%= @plant.description %>
<h5>Booking(s)</h5>

<%= link_to "Edit", edit_plant_path(@plant), class: "btn btn-info" %>
<%= link_to "Delete", plant_path(@plant), method: :delete, class: "btn btn-danger" %>
<%= link_to "Back", plants_path, class: "btn btn-primary" %>

  <%= f.hidden_field :plant_id, value: @plant.id %>
  <%= f.input :photo, as: :file %>


