<div class="container">
  <div class="row">

  <div class="from-wrapper" style="width: 500px; margin: 0 auto;">
    <div>
    <div class="col-8">
      <div class="d-flex my-3">
        <%= cl_image_tag @plant.photo.key, height: 200, width: 200, crop: :fillf %>
        <div class="d-flex flex-column my-3 mx-5 ">
          <div>
            <h2><%= @plant.name.capitalize %></h2>
            <p><%= @plant.description %></p>
          </div>
          <!-- <h5>Booking(s)</h5>
            <ul>
              <% @bookings.each do |booking| %>
               <li><%= booking.start_date %></li>
              <% end %>
            </ul> -->
        </div>
      </div>

    </div>
    <div class="col-4">
        <div class="plant-card">
          <h4>Book This Plant</h4>
            <%= simple_form_for :search, method: :get do |f| %>
            <%= f.input :start_date, label: "Start Date", placeholder: "From" , input_html: { class: "datepickr" } %>
            <%= f.input :end_date, label: 'End Date', placeholder: "To" , input_html: { class: "datepickr" } %>
            <%= f.submit "Book", class: "btn btn-primary center" %>
              <% end %>
          <br>
          <%= link_to "Back", plants_path, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>

