<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="d-flex my-3">
        <%= cl_image_tag @plant.photo.key, height: 200, width: 200, crop: :fillf %>
        <div class="d-flex flex-column my-3 mx-5 ">
          <div>
            <h2><%= @plant.name.capitalize %></h2>
            <p><%= @plant.description %></p>
          </div>
          <!-- <h5>Booking(s)</h5>
            <ul>
              <% @bookings.each do |booking| %>
                <li><%= booking.date %></li>
              <% end %>
            </ul> -->
        </div>
      </div>

    </div>
    <div class="col-4">
        <div class="plant-card">
          <h4>Book This Plant</h4>
            <%= simple_form_for([@plant, @booking]) do |f| %>
              <%= f.hidden_field :plant_id, value: @plant.id %>
              <%= f.input :date, label: @booking.date %>
              <%= f.button :submit, class: "btn btn-success" %>
            <% end %>
          <br>
          <%= link_to "Back", plants_path, class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
